
li {
    color: red
}

.fuente {
    color: blue;
    font-family: fuenteModificada;
}

.pepito {
    color: white;
    margin-right: 28px
}

.container {
    position: relative;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex
}

.fila {
    display: flex;
}
#foto-principal{
    height: 200px;
    width: 200px;
}
.foto-galeria{
    height: 150px;
    width: 150px;
}
@media (min-width:700px){
    h1 {
        color: rgb(59, 160, 0);
        font-family: cursive;
    }
}
@font-face {
    font-family: fuenteModificada;
    src: url(/fuentes/Cream\ Cheese\ Demo.otf);
  }